name: build-vms-pr

on:
  pull_request:
    branches: [ main ]
    types: [ opened, synchronize, reopened ]
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  build-vm-fast:
    name: Build NixOS VM (fast)
    uses: ./.github/workflows/vm-build.yml
    with:
      host: virtmark
      format: vm
    secrets:
      CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}

